.container
    padding: 22px
    //min-height: 600px

.mat-row
  padding: 100px

.mat-row:hover 
  background-color: lighten(royalblue, 20%)
  cursor: pointer

.mat-row:nth-child(odd)
  background-color: lighten(grey, 40%)
  &:hover
    background-color: lighten(royalblue, 20%)

#upload-button
    margin: 10px
