<table mat-table [dataSource]="dataSource" class="elevation-z6" matSort>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let assignment">{{assignment.id}}</td>
  </ng-container>

  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
    <td mat-cell *matCellDef="let assignment">{{assignment.content}}</td>
  </ng-container>

  <ng-container matColumnDef="releaseDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Release Date</th>
    <td mat-cell *matCellDef="let assignment">{{format(assignment.releaseDate)}}</td>
  </ng-container>

  <ng-container matColumnDef="expiryDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Date</th>
    <td mat-cell *matCellDef="let assignment">{{format(assignment.expiryDate)}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="colsToDisplay"> </tr>
  <tr mat-row (click)="clickAssignment(row.id)" *matRowDef="let row; columns: colsToDisplay"></tr>
</table>