<div class="loader" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<mat-toolbar style="color: rgb(32 32 32 / 87%)">
  <button color="primary"
      mat-icon-button
      class="mr-1"
      (click)="toggleForMenuClick()"
    > <mat-icon>menu</mat-icon></button>
  <span>{{currentCourse?.name}}</span>
  <div class="subtitle">{{currentCourse?.acronym}}</div>

  <div fxFlex fxLayout="row" class="ml-1">
    <div class="my-chip" color="primary">
      min:{{currentCourse?.min}} max:{{currentCourse?.max}}
    </div>
    <div class="my-chip" color="primary">
      enabled:{{currentCourse?.enabled}}
    </div>
  </div>

  <button
    mat-button
    color="primary"
    class="ml-1 edit-button"
    (click)="openUpdateDialog()"
  >
    <mat-icon> edit </mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group>
  <mat-tab label="students">
    <!--only this scroll-->
    <div class="tab-container">
      <app-students
        [studentsDB]="studentsDB$ | async"
        [enrolledStudents]="enrolledStudents$ | async"
        (addStudent)="enrollStudent($event)"
        (deleteStudents)="unEnrollStudents($event)"
        (uploadCsv)="uploadCsv($event)"
      >
      </app-students>
    </div>
  </mat-tab>
  <mat-tab label="VM">
    <div class="tab-container">
      <app-vms-teacher
        [teams]="courseTeams$ | async"
        [vmModel]="courseVmModel$ | async"
        [currentCourse]="currentCourse$ | async"
        (editModel)="editModel($event)"
      >
      </app-vms-teacher>
    </div>
  </mat-tab>
  <mat-tab label="assignment">
    <div class="tab-container">
      <app-assignment 
      [assignments]="assignments$ | async"
      [papers]="papers$ | async"
      [papersnapshots]= "papersnapshots$ | async"
      (assignmentClickedEvent)="getAllPapersForAssignment($event)"
      (paperClickedEvent)="getAllPapersnapshotsForPaper($event)"
      (solutionSubmittedEvent)="addPapersnapshot($event)">
      </app-assignment>
    </div>>
  </mat-tab>
</mat-tab-group>

<!-- <nav mat-tab-nav-bar class="white-smoke">
  <a
    mat-tab-link
    *ngFor="let tab of tabs"
    [routerLink]="tab.path"
    [state]="currentCourse"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ tab.value }}
  </a>
</nav>
<router-outlet></router-outlet> -->
