<h1 mat-dialog-title>Edit {{data.courseAc}} VM MODEL maximum resources allowed for each team</h1>
<div [formGroup]="editForm">
    <mat-form-field class="full-width">
        <mat-label>Maximum VMs number</mat-label>
        <input matInput type="number" min="{{data.minVms}}" formControlName="maxVms">
        <mat-error *ngIf="editForm.controls['maxVms'].invalid && editForm.controls['maxVms'].value > 1">Some team has {{data.minVms}} VMs</mat-error>
        <mat-error *ngIf="editForm.controls['maxVms'].value < 1">Must be at least 1</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Maximum VMs number running simultaneously</mat-label>
        <input matInput type="number" min="{{data.minRunningVms}}" max="{{editForm.controls['maxVms'].value}}" formControlName="maxRunningVms">
        <mat-error *ngIf="editForm.controls['maxRunningVms'].invalid && editForm.controls['maxVms'].value > editForm.controls['maxRunningVms'].value; else minMaxVms">Some team is running {{data.minRunningVms}} VMs</mat-error>
        <ng-template #minMaxVms>
            <mat-error>Must be between {{data.minRunningVms}} and {{editForm.controls['maxVms'].value}}</mat-error>
        </ng-template>
        <span matSuffix>/ {{editForm.controls['maxVms'].value}}</span>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Maximum VCPUs number</mat-label>
        <input matInput type="number" min="{{data.minVcpus}}" formControlName="maxVcpus">
        <mat-error *ngIf="editForm.controls['maxVcpus'].invalid">Some team is using {{data.minVcpus}} VCPUs</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Maximum RAM dimension</mat-label>
        <input matInput type="number" min="{{data.minRam}}" formControlName="maxRam">
        <mat-error *ngIf="editForm.controls['maxRam'].invalid">Some team is using {{data.minRam}} GB RAM</mat-error>
        <span matSuffix>GB</span>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Disk dimension</mat-label>
        <input matInput type="number" min="{{data.minDisk}}" formControlName="maxDisk">
        <mat-error *ngIf="editForm.controls['maxDisk'].invalid">Some team is using {{data.minDisk}} GB disk</mat-error>
        <span matSuffix>GB</span>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Discard</button>
    <button mat-raised-button (click)="confirmEditModel(data)" color="primary"
        [disabled]="editForm.invalid">Confirm</button>
</div>