<mat-divider></mat-divider>

<div class="container">
  <mat-card style="margin-bottom:22px">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between stretch">
      <mat-card-title>
        Assignments
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="toShowLevel !== 0">
        <button mat-flat-button (click)="back()" class="radius-20" style="background-color: transparent">
          <mat-icon color="primary">
            arrow_back
          </mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="toShowLevel === 0">
        <app-assignment-assignment [assignmentsData]="assignmentsData"
          (clickAssignmentEvent)="assignmentClicked($event)">
        </app-assignment-assignment>
      </ng-container>
      <ng-container *ngIf="toShowLevel === 1">
        <app-assignment-paper [papersData]="papersData" (clickPaperEvent)="paperClicked($event)">
        </app-assignment-paper>
      </ng-container>
      <ng-container *ngIf="toShowLevel === 2">
        <app-assignment-papersnapshot [papersnapshotsData]="papersnapshotsData">
        </app-assignment-papersnapshot>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>