.my-title
    font-size: 20px
    font-weight: 500

.myButton
    font-size: large
    font-weight: 500

.font_size_16
    font-size: 16px !important

.vm_img
    max-height: 300px
    max-width: 500px
    height: auto
    width: auto
    border-radius: 10px

.prop
    font-size: 16px
    font-weight: 500
.default
    font-size: medium
    font-weight: 500