<div style="padding:22px">

  <ng-container *ngIf="hasLoadedVmModel && hasLoadedTeams">
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between stretch" style="margin-bottom: 12px;">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between stretch">
          VM MODEL

        </mat-card-title>
        <button mat-icon-button color="primary" (click)="openEditModel(_vmModel)">
          <mat-icon matListIcon> create</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-content>
        <div fxLayout="row" class="font_size_16" fxLayoutAlign="start stretch">
          <div>
            <img fxFlex [src]="_vmModel.image" class="vm_img mat-elevation-z3">
          </div>
          <div fxLayout="column" fxLayoutAlign="center start" style="margin-left: 75px;">
            <div>
              <span class="mat-body-strong mat-body-2 prop">
                Maximum VM instances:
              </span>
              <span class="mat-small mat-caption font_size_16">
                {{ _vmModel.maxVms }}
              </span>
            </div>

            <div>
              <span class="mat-body-strong mat-body-2 prop">
                Maximum VMs running simultaneously:
              </span>
              <span class="mat-small mat-caption font_size_16">
                {{ _vmModel.maxRunningVms }}
              </span>
            </div>

            <div>
              <span class="mat-body-strong mat-body-2 prop">
                Maximum total VCPUs:
              </span>
              <span class="mat-small mat-caption font_size_16">
                {{ _vmModel.maxVcpus }}
              </span>
            </div>

            <div>
              <span class="mat-body-strong mat-body-2 prop">
                Maximum total RAM:
              </span>
              <span class="mat-small mat-caption font_size_16">
                {{ _vmModel.maxRam }} GB
              </span>
            </div>

            <div>
              <span class="mat-body-strong mat-body-2 prop">
                Maximum total Disk:
              </span>
              <span class="mat-small mat-caption font_size_16">
                {{ _vmModel.maxDisk }} GB
              </span>
            </div>

          </div>
        </div>

      </mat-card-content>

    </mat-card>

    <div style="height: 22px;"></div>
    <div class="my-title">
      Student Teams:
    </div>
    <div *ngFor="let team of _teams" style="margin-top: 0.75%;">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="none center">
            <p class="mat-body-strong mat-body-2 prop" style="margin: 0;">
              {{ team.name }}
            </p>
            <div style="width: 16px;"></div>
            <p *ngFor="let student of team.members">
              [ {{ student.id }} ]
            </p>
          </mat-panel-title>
          <mat-panel-description>
            <div *ngIf="team.vmInstances.length !== 0; else zeroVm" fxLayout="row" fxLayoutAlign="space-between center"
              style="width: 100%;">
              <div *ngIf='team.vmInstances.length != _vmModel.maxVms; else maxVms'>
                <p>VMs: {{ team.vmInstances.length }} / {{ _vmModel.maxVms }}
                </p>
              </div>
              <ng-template #maxVms>
                <p style='color: red'>VMs: {{ team.vmInstances.length }} / {{ _vmModel.maxVms }}
                </p>
              </ng-template>
              <div *ngIf='countVcpus(team.vmInstances) != _vmModel.maxVcpus; else maxVcpu'>
                <p>VCPUs: {{ countVcpus(team.vmInstances) }} / {{ _vmModel.maxVcpus }}
                </p>
              </div>
              <ng-template #maxVcpu>
                <p style='color: red'>VCPUs: {{ countVcpus(team.vmInstances) }} / {{
                  _vmModel.maxVcpus
                  }}
                </p>
              </ng-template>
              <div *ngIf='countRam(team.vmInstances) != _vmModel.maxRam; else maxRam'>
                <p>RAM: {{ countRam(team.vmInstances) }} / {{ _vmModel.maxRam }} GB
                </p>
              </div>
              <ng-template #maxRam>
                <p style='color: red'>RAM: {{ countRam(team.vmInstances) }} / {{ _vmModel.maxRam
                  }} GB
                </p>
              </ng-template>
              <div *ngIf='countDisk(team.vmInstances) != _vmModel.maxDisk; else maxDisk'>
                <p>Disk: {{ countDisk(team.vmInstances) }} / {{ _vmModel.maxDisk }} GB
                </p>
              </div>
              <ng-template #maxDisk>
                <p style='color: red'>Disk: {{ countDisk(team.vmInstances) }} / {{ _vmModel.maxDisk
                  }}
                  GB
                </p>
              </ng-template>
              <div *ngIf='countRunningVms(team.vmInstances) != _vmModel.maxRunningVms; else maxRunning'>
                <p *ngIf="team.vmInstances !== null">
                  Running VMs: {{ countRunningVms(team.vmInstances) }} /
                  {{ _vmModel.maxRunningVms }}
                </p>
              </div>
              <ng-template #maxRunning>
                <p *ngIf="team.vmInstances !== null" style='color: red'>
                  Running VMs: {{ countRunningVms(team.vmInstances) }} /
                  {{ _vmModel.maxRunningVms }}
                </p>
              </ng-template>
            </div>
            <ng-template #zeroVm>
              <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">Zero VM instances</div>
            </ng-template>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngIf="team.vmInstances.length !== 0" class='mat-caption'>
          <mat-grid-list cols="80" rowHeight="3rem">
            <mat-grid-tile colspan="10" rowspan="1">VM</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">Creator</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">Accessibility</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">State</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">Access</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">VCPUs</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">RAM</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">Disk</mat-grid-tile>
          </mat-grid-list>
        </div>
        <div *ngFor="let vmInstance of team.vmInstances; let i = index">
          <mat-grid-list cols="80" rowHeight="4rem">
            <mat-grid-tile colspan="10">{{ i + 1 }}</mat-grid-tile>
            <mat-grid-tile colspan="10">{{
              vmInstance.creator
              }}</mat-grid-tile>
            <mat-grid-tile colspan="10" *ngIf="vmInstance.creator === vmInstance.owner">
              <mat-icon matListIcon>person</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="10" *ngIf="vmInstance.creator !== vmInstance.owner">
              <mat-icon matListIcon>people</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="10">{{
              vmInstance.countVcpus
              }}</mat-grid-tile>
            <mat-grid-tile colspan="10">{{ vmInstance.countRam }} GB</mat-grid-tile>
            <mat-grid-tile colspan="10">{{ vmInstance.countDisks }} GB</mat-grid-tile>
            <mat-grid-tile colspan="10" *ngIf="vmInstance.state === 0">
              <mat-icon matListIcon>stop</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="10" *ngIf="vmInstance.state === 1">
              <mat-icon matListIcon>play_arrow</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="10">
              <button mat-raised-button color="primary" *ngIf="vmInstance.state == 1; else cantOpen" class="myButton"
                (click)="OpenVm(vmInstance, team.name)">
                <mat-icon matListIcon> launch</mat-icon>
                OPEN
              </button>
              <ng-template #cantOpen>
                <button mat-raised-button disabled class="myButton">
                  <mat-icon matListIcon> launch</mat-icon>
                  OPEN
                </button>
              </ng-template>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

      </mat-expansion-panel>

    </div>

  </ng-container>

</div>