<div style="padding:22px">

  <ng-container *ngIf="hasLoadedVmModel && hasLoadedTeams">
    <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between stretch" style="margin-bottom: 12px;">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-between stretch">
          VM MODEL

        </mat-card-title>
        <button mat-icon-button color="primary" (click)="openEditModel(_vmModel)">
          <mat-icon matListIcon> create</mat-icon>
        </button>
      </mat-card-header>

      <mat-card-content>
        <div fxLayout="row" class="font_size_16" fxLayoutAlign="center stretch">
          <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center">
            <div>
              <span class="mat-body-strong mat-body-2 prop">
                Vm Allowed:
              </span>
              <span class="mat-small mat-caption">
                {{ _vmModel.maxVms }}
              </span>
            </div>

            <div>
              <span class="mat-body-strong mat-body-2 prop">
                Vm Running simultaneously (max):
              </span>
              <span class="mat-small mat-caption">
                {{ _vmModel.maxRunningVms }}
              </span>
            </div>

            <div>
              <span class="mat-body-strong mat-body-2 prop">
                VCPU (max):
              </span>
              <span class="mat-small mat-caption">
                {{ _vmModel.maxVcpus }}
              </span>
            </div>

            <div>
              <span class="mat-body-strong mat-body-2 prop">
                Ram (max):
              </span>
              <span class="mat-small mat-caption">
                {{ _vmModel.maxRam }} GB
              </span>
            </div>

            <div>
              <span class="mat-body-strong mat-body-2 prop">
                Disk (max):
              </span>
              <span class="mat-small mat-caption">
                {{ _vmModel.maxDisk }} GB
              </span>
            </div>

          </div>
          <div>
            <img fxFlex [src]="_vmModel.image" class="vm_img">
          </div>
        </div>

      </mat-card-content>

    </mat-card>

    <div style="height: 22px;"></div>
    <div class="my-title">
      Student Teams:
    </div>
    <div *ngFor="let team of _teams" style="margin-top: 0.75%;">

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ team.name }}
          </mat-panel-title>
          <mat-panel-description>
            <a *ngFor="let student of team.members">
              [ {{ student.id }} ]
            </a>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngIf="team.vmInstances.length !== 0">
          <mat-grid-list cols="80" rowHeight="3rem">
            <mat-grid-tile colspan="10" rowspan="2">VM</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="2">Creator</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="2">Accessibility</mat-grid-tile>
            <mat-grid-tile colspan="30" rowspan="1">Resources</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="2">State</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="2">Access</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">VCPUs</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">RAM</mat-grid-tile>
            <mat-grid-tile colspan="10" rowspan="1">Disk</mat-grid-tile>
          </mat-grid-list>
        </div>
        <div *ngFor="let vmInstance of team.vmInstances; let i = index">
          <mat-grid-list cols="80" rowHeight="4rem">
            <mat-grid-tile colspan="10">{{ i + 1 }}</mat-grid-tile>
            <mat-grid-tile colspan="10">{{
              vmInstance.creator
              }}</mat-grid-tile>
            <mat-grid-tile colspan="10" *ngIf="vmInstance.creator === vmInstance.owner">
              <mat-icon matListIcon>person</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="10" *ngIf="vmInstance.creator !== vmInstance.owner">
              <mat-icon matListIcon>people</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="10">{{
              vmInstance.countVcpus
              }}</mat-grid-tile>
            <mat-grid-tile colspan="10">{{ vmInstance.countRam }} GB</mat-grid-tile>
            <mat-grid-tile colspan="10">{{ vmInstance.countDisks }} GB</mat-grid-tile>
            <mat-grid-tile colspan="10" *ngIf="vmInstance.state === 0">
              <mat-icon matListIcon>stop</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="10" *ngIf="vmInstance.state === 1">
              <mat-icon matListIcon>play_arrow</mat-icon>
            </mat-grid-tile>
            <mat-grid-tile colspan="10">
              <button mat-raised-button color="primary" *ngIf="vmInstance.state == 1; else cantOpen" class="myButton"
                (click)="OpenVm(vmInstance, team.name)">
                <mat-icon matListIcon> launch</mat-icon>
                OPEN
              </button>
              <ng-template #cantOpen>
                <button mat-raised-button disabled class="myButton">
                  <mat-icon matListIcon> launch</mat-icon>
                  OPEN
                </button>
              </ng-template>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <div *ngIf="team.vmInstances.length !== 0">
          <mat-grid-list cols="80" rowHeight="4rem">
            <div *ngIf='team.vmInstances.length != _vmModel.maxVms; else maxVms'>
              <mat-grid-tile colspan="10">{{ team.vmInstances.length }} / {{ _vmModel.maxVms }}
              </mat-grid-tile>
            </div>
            <ng-template #maxVms>
              <mat-grid-tile colspan="10" style='color: red'>{{ team.vmInstances.length }} / {{ _vmModel.maxVms }}
              </mat-grid-tile>
            </ng-template>
            <mat-grid-tile colspan="20"></mat-grid-tile>
            <div *ngIf='countVcpus(team.vmInstances) != _vmModel.maxVcpus; else maxVcpu'>
              <mat-grid-tile colspan="10">{{ countVcpus(team.vmInstances) }} / {{ _vmModel.maxVcpus }}
              </mat-grid-tile>
            </div>
            <ng-template #maxVcpu>
              <mat-grid-tile colspan="10" style='color: red'>{{ countVcpus(team.vmInstances) }} / {{ _vmModel.maxVcpus
                }}
              </mat-grid-tile>
            </ng-template>
            <div *ngIf='countRam(team.vmInstances) != _vmModel.maxRam; else maxRam'>
              <mat-grid-tile colspan="10">{{ countRam(team.vmInstances) }} / {{ _vmModel.maxRam }} GB
              </mat-grid-tile>
            </div>
            <ng-template #maxRam>
              <mat-grid-tile colspan="10" style='color: red'>{{ countRam(team.vmInstances) }} / {{ _vmModel.maxRam }} GB
              </mat-grid-tile>
            </ng-template>
            <div *ngIf='countDisk(team.vmInstances) != _vmModel.maxDisk; else maxDisk'>
              <mat-grid-tile colspan="10">{{ countDisk(team.vmInstances) }} / {{ _vmModel.maxDisk }} GB
              </mat-grid-tile>
            </div>
            <ng-template #maxDisk>
              <mat-grid-tile colspan="10" style='color: red'>{{ countDisk(team.vmInstances) }} / {{ _vmModel.maxDisk }}
                GB
              </mat-grid-tile>
            </ng-template>
            <div *ngIf='countRunningVms(team.vmInstances) != _vmModel.maxRunningVms; else maxRunning'>
              <mat-grid-tile colspan="10" *ngIf="team.vmInstances !== null">
                {{ countRunningVms(team.vmInstances) }} /
                {{ _vmModel.maxRunningVms }}
              </mat-grid-tile>
            </div>
            <ng-template #maxRunning>
              <mat-grid-tile colspan="10" *ngIf="team.vmInstances !== null" style='color: red'>
                {{ countRunningVms(team.vmInstances) }} /
                {{ _vmModel.maxRunningVms }}
              </mat-grid-tile>
            </ng-template>
            <mat-grid-tile colspan="10"></mat-grid-tile>
          </mat-grid-list>
        </div>

      </mat-expansion-panel>

    </div>

  </ng-container>

</div>