<h1 mat-dialog-title>Setup New VM</h1>
<div [formGroup]="createForm">
    <mat-form-field class="full-width">
        <mat-label>VCPUs number</mat-label>
        <input matInput type="number" min="1" [max]="data.maxVcpus" formControlName="vcpus">
        <mat-error *ngIf="createForm.controls['vcpus'].invalid"></mat-error>
        <span matSuffix>/{{data.maxVcpus}}</span>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>RAM dimension</mat-label>
        <input matInput type="number" min="1" [max]="data.maxRam" formControlName="ram">
        <mat-error *ngIf="createForm.controls['ram'].invalid"></mat-error>
        <span matSuffix>GB /{{data.maxRam}}</span>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Disk dimension</mat-label>
        <input matInput type="number" min="1" [max]="data.maxDisk" formControlName="disk">
        <mat-error *ngIf="createForm.controls['disk'].invalid"></mat-error>
        <span matSuffix>GB /{{data.maxDisk}}</span>
    </mat-form-field>
    <mat-checkbox formControlName="owner">Accessible to Every Teammates
    </mat-checkbox>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Discard</button>
    <button mat-raised-button (click)=confirmCreateVm(data) color="primary">Confirm</button>
</div>