<div class="search-container" fxLayout="row" fxLayoutAlign="space-between stretch">

  <div fxLayout="row" fxLayoutAlign="start stretch">
    <form class="my-form">
      <mat-form-field class="form-small" style="width: 300px" appearance="outline">
        <mat-label>Search student</mat-label>
        <input type="text" placeholder="search student" matInput [formControl]="myControl" [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn"
          (optionSelected)="selectStudentToAdd($event.option.value)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option.name }} ({{ option.id }})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <button mat-raised-button color="accent" [disabled]="!studentToAdd" (click)="addStudentToTable()" class="radius-20">
      <mat-icon> person_add </mat-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="space-between center" *ngIf="studentToAdd" class="student-detail">

      {{ studentToAdd.name }} {{ studentToAdd.lastName }} ({{
      studentToAdd.email
    }})
    </div>
  </div>

  <!-- upload file -->
  <div>

    <button (click)="uploader.click()" mat-flat-button class="radius-20" matTooltip="Enroll students from csv,
    if students do not exist, they will be added automatically" style="background-color: transparent;">
      csv
      <mat-icon color="primary"> note_add </mat-icon>

    </button>
    <input hidden #uploader type="file" id="file" (change)="handleFileInput($event.target.files)">

  </div>

</div>
<mat-divider></mat-divider>


<div class="container">
  <h3>Elenco studenti iscritti al corso</h3>

  <table mat-table [dataSource]="dataSource" class="elevation-z6" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selectedStudents.hasValue() && isAllSelected()"
          [indeterminate]="selectedStudents.hasValue() && !isAllSelected()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let student">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleStudent(student) : null"
          [checked]="selectedStudents.isSelected(student)"></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let student">{{ student.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
      <td mat-cell *matCellDef="let student">{{ student.name }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>last Name</th>
      <td mat-cell *matCellDef="let student">
        {{ student.lastName }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: colsToDisplay"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <div class="button-area">
    <button color="accent" [disabled]="selectedStudents.isEmpty()" mat-raised-button (click)="deleteSelectedStudents()">
      Delete Selected
    </button>

    <span *ngFor="let student of selectedStudents.selected">
      {{ student.id }} ,</span>
  </div>
</div>