
.search-container
    height: 64px
    padding: 12px

.container
    padding: 22px
    //min-height: 600px
.student-detail
    font-weight: 500
    margin-left: 20px
    color: #7b7b7b
.upload-container
    padding: 12px
    padding-left: 26px
.mat-card-header .mat-card-title
    margin-bottom: 0px
    color: #3c3c3c
