<mat-sidenav-container class="absolute-container" autosize="true">
  <mat-sidenav mode="side" position="start" opened [fixedInViewport]="false">
    <mat-toolbar color="primary">Teacher courses</mat-toolbar>
    <div class="container p-16">
      <div class="loader" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
      </div>


      <mat-nav-list class="my-list">

        <div *ngFor="let course of courses$ | async">
          <mat-divider> </mat-divider>
          <mat-list-item [routerLink]="[course.name]" [state]="course"> {{course.name}} </mat-list-item>
          <mat-divider> </mat-divider>


        </div>
        <!--  <mat-list-item [routerLink]="['applicazioni-internet/students']">
          App Internet
        </mat-list-item> -->

      </mat-nav-list>
      <button mat-raised-button color="primary" style="border-radius: 20px;margin-top: 16px;" (click)="createCourse()">
        <mat-icon>
          add_circle
        </mat-icon>
        New
      </button>

    </div>


  </mat-sidenav>
  <mat-sidenav-content>



    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>