<div class="main-div">
  <mat-toolbar
    color="primary"
    class="tbar"
    [ngClass]="{ 'mat-elevation-z4': isLogged }"
  >
    <button
      *ngIf="isLogged"
      mat-icon-button
      class="mr-1"
      (click)="toggleForMenuClick()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="isLogged">Virtual Labs</span>
    <span class="fill-remaining-space"></span>

    <div *ngIf="!isLogged; then showLogin else showLogout">
    </div>
    <ng-template #showLogin>
      <button mat-button class="right" (click)="goToLogin()">
        Login
        <mat-icon class="ml-1">account_circle</mat-icon>
      </button>
      <button mat-button class="left" (click)="goToRegister()"> 
        Register 
        <mat-icon class="ml-1">input</mat-icon>
      </button>
        
    </ng-template>
    <ng-template #showLogout>
      <button mat-button class="right" (click)="logout()">
        {{ user?.sub }}
        <mat-icon class="ml-1">exit_to_app</mat-icon>
      </button>
    </ng-template>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
