<div class="container">
    <ng-container *ngIf="!hasTeam">
        <mat-card>
            <mat-card-title style="text-align: center; padding: 16px;">
                Join a Team to use Virtual Machines!
            </mat-card-title>
        </mat-card>
    </ng-container>
    <ng-container *ngIf="hasTeam">
        <mat-card *ngIf="canCreate$ | async; else cantCreate">
            <div style="text-align:center; padding: 16px;">
                <button mat-raised-button flex="30" color="primary" (click)="createVmDialog()">New Virtual Machine</button>
            </div>
        </mat-card>
        <ng-template #cantCreate>
            <mat-card>
                <div style="text-align:center; padding: 16px;">
                    <button mat-raised-button disabled>New Virtual Machine</button>
                </div>
            </mat-card>
        </ng-template>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-title>
                <mat-grid-list cols="18" rowHeight="2rem">
                    <mat-grid-tile colspan="18" rowspan="1">{{team.name}}'s Virtual Machines</mat-grid-tile>
                    <mat-grid-tile colspan="3" rowspan="2">Owner</mat-grid-tile>
                    <mat-grid-tile colspan="3" rowspan="2">Actions</mat-grid-tile>
                    <mat-grid-tile colspan="3" rowspan="2">State</mat-grid-tile>
                    <mat-grid-tile colspan="9" rowspan="1">Resources</mat-grid-tile>
                    <mat-grid-tile colspan="3" rowspan="1">VCPUs</mat-grid-tile>
                    <mat-grid-tile colspan="3" rowspan="1">RAM</mat-grid-tile>
                    <mat-grid-tile colspan="3" rowspan="1">Disk</mat-grid-tile>
                </mat-grid-list>
            </mat-card-title>
            <mat-card-content style="padding: 16px;">
                <div *ngFor="let vmInstance of _vmInstances">
                    <mat-divider></mat-divider>
                    <mat-grid-list cols="18" rowHeight="4rem">
                        <mat-grid-tile *ngIf="vmInstance.owner == null" colspan="2">Every Teammate</mat-grid-tile>
                        <mat-grid-tile *ngIf="vmInstance.owner != null" colspan="2">{{ vmInstance.owner }}
                        </mat-grid-tile>
                        <mat-grid-tile *ngIf="vmInstance.owner == null || vmInstance.owner == this.studentId"
                            colspan="1">
                            <mat-icon matListIcon>lock_open</mat-icon>
                        </mat-grid-tile>
                        <mat-grid-tile *ngIf="vmInstance.owner != null && vmInstance.owner != this.studentId"
                            colspan="1">
                            <mat-icon matListIcon>lock</mat-icon>
                        </mat-grid-tile>
                        <mat-grid-tile *ngIf="vmInstance.state == 0" colspan="1">
                            <div *ngIf="canRun$ | async; else cantRun">
                                <button mat-mini-fab color="primary"
                                    *ngIf="vmInstance.owner == null || vmInstance.owner == this.studentId; else cantRun"
                                    (click)="emitStartVm(vmInstance)">
                                    <mat-icon matListIcon>
                                        play_arrow</mat-icon>
                                </button>
                            </div>
                            <ng-template #cantRun>
                                <button mat-mini-fab disabled>
                                    <mat-icon matListIcon>
                                        play_arrow</mat-icon>
                                </button>
                            </ng-template>
                        </mat-grid-tile>
                        <mat-grid-tile *ngIf="vmInstance.state == 1" colspan="1">
                            <button mat-mini-fab color="primary"
                                *ngIf="vmInstance.owner == null || vmInstance.owner == this.studentId; else cantStop"
                                (click)="emitStopVm(vmInstance)">
                                <mat-icon matListIcon>
                                    stop</mat-icon>
                            </button>
                            <ng-template #cantStop>
                                <button mat-mini-fab disabled>
                                    <mat-icon matListIcon>
                                        stop</mat-icon>
                                </button>
                            </ng-template>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1">
                            <button mat-mini-fab color="primary"
                                *ngIf="vmInstance.state == 0 && (vmInstance.owner === null || vmInstance.owner === this.studentId); else cantCreate"
                                (click)="editVmDialog(vmInstance)">
                                <mat-icon matListIcon>
                                    create</mat-icon>
                            </button>
                            <ng-template #cantCreate>
                                <button mat-mini-fab disabled>
                                    <mat-icon matListIcon>
                                        create</mat-icon>
                                </button>
                            </ng-template>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="1">
                            <button mat-mini-fab color="primary"
                                *ngIf="vmInstance.state === 0 && (vmInstance.owner === null || vmInstance.owner === this.studentId); else cantDelete"
                                (click)="emitDeleteVm(vmInstance)">
                                <mat-icon matListIcon>
                                    delete</mat-icon>
                            </button>
                            <ng-template #cantDelete>
                                <button mat-mini-fab disabled>
                                    <mat-icon matListIcon>
                                        delete</mat-icon>
                                </button>
                            </ng-template>
                        </mat-grid-tile>
                        <mat-grid-tile *ngIf="vmInstance.state == 0" colspan="3">Stopped</mat-grid-tile>
                        <mat-grid-tile *ngIf="vmInstance.state == 1" colspan="3">Running</mat-grid-tile>
                        <mat-grid-tile colspan="3">{{ vmInstance.countVcpus }}</mat-grid-tile>
                        <mat-grid-tile colspan="3">{{ vmInstance.countRam }} GB</mat-grid-tile>
                        <mat-grid-tile colspan="3">{{ vmInstance.countDisks }} GB</mat-grid-tile>
                    </mat-grid-list>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>