<mat-sidenav-container class="absolute-container" autosize="true">
  <mat-sidenav mode="side" position="start" opened [fixedInViewport]="false">
    <div fxLayout="column" fxLayoutAlign="space-between start" style="padding:0px;height:100%">
      <div fxLayout="row" fxLayoutAlign="start center" style="width:100%;height:64px ;padding:8px;">
        <mat-icon>school</mat-icon>
        <h1 class="ml-1 mat-h1 .mat-title p-0 ml-1" style="margin:0; font-weight: 500; margin-left: 12px;">
          VirtualLabs
        </h1>
      </div>
      <div class="container" fxFlex="100" style="width: 100%; padding:8px;">
        <mat-divider style="background-color: #5dcdff;"></mat-divider>
        <div class="ml-1" style="color: white; margin-top: 16px;" fxLayout="row" fxLayoutAlign="space-between stretch">
          <span class="mat-h2 .mat-title" style="margin: 0">Courses</span>
        </div>
        <div class="loader primary" *ngIf="isLoading">
          <mat-spinner color="accent"></mat-spinner>
        </div>
        <mat-nav-list class="my-list">
          <div *ngFor="let course of courses$ | async" style="width:100%">
            <mat-list-item [routerLink]="[course.name]" [state]="course" [routerLinkActive]="['active']" class="white">
              <span class="mat-body-strong mat-body-2 ">{{
                course.name
                }}</span>
            </mat-list-item>

          </div>
        </mat-nav-list>
        
      </div>
      <mat-divider style="background-color: #5dcdff;width:100%"></mat-divider>
      <div  fxLayout="row" fxLayoutAlign="center center" style="color:white;height: 64px; padding:8px;width:100%">
        <div *ngIf="user.photo!='';else showIcon">
          <img style="height: 45px;width: 45px; font-size: 45px; border-radius:50%" [src]="renderTrustImage(user.photo)" />
        </div>
        <ng-remplate #showIcon>
          <mat-icon style="height: 30px;width: 30px; font-size: 30px;">account_circle</mat-icon>
        </ng-remplate>
        <div style="width:8px"></div>
        <span class="ml-1" class="mat-body-strong mat-body-2">{{ user?.sub }} <button mat-icon-button class="right"
            (click)="logout()">
            <mat-icon style="font-size: 22px;">exit_to_app</mat-icon>
          </button></span>
      </div>

    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>