<div>
    <mat-card-title>
        {{data.teamName}} - VIRTUAL MACHINE {{data.courseAc}} - [ VCPUS: {{data.countVcpus}}, RAM: {{data.countRam}} GB, Disk: {{data.countDisk}} GB ]
        <button mat-raised-button color="warn" class="topright" (click)="closeVm()" 
        style="position: fixed; left: 83%; top: 2%;font-size: large; font-weight: 500;">CLOSE
            <mat-icon matListIcon>close</mat-icon>
        </button>
    </mat-card-title>
    <img src={{imageLink}} width="100%" height="100%">
</div>